<header>
  <nav>
    <div class="flex-container">
      <div>
        <a href="/">
          Shop
        </a>
      </div>

      <div>
        <a href="/addproduct">
          add product
        </a>
      </div>
    </div>
  </nav>
</header>
