body {
  background-color: aqua;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  background-color: yellow;

  border: 1px solid black;

  padding: 1rem;
}
main {
  margin: 0 auto;
}
